@import './variables';

html {
    box-sizing: border-box;
    body {
        color: #7EB5DD;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
  }
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: sans-serif;
}

h1 {
    font-size: $largeHeading;
}

h2 {
    font-size: 3vw;
    text-align: center;
}

h3 {
    font-size: 1.5vw;
    color: $secondaryColor1;
    font-weight: 600;
    text-shadow: black 1px 0 2px;
}

p {
    font-size: 0.9vw;
}

button {
    text-transform: uppercase;
    max-width: 300px;
    max-height: 50px;
    font-weight: 600;
    font-size: 0.5vw;
    padding: 20px;
    background: lavenderblush;
    outline-color: transparent;
    border-radius: 20px;
    &:focus {
        outline-style: none;
    }
    &:hover {
        outline-color: transparent;
        box-shadow: 0 0 0 2px black;
        background-color: $secondaryColor1;
    }
}