@import "./variables";
@import "./elements";
@import "./Components/listtemplate";

.habit-tracker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 90vh;
    max-width: 2000px;
    margin: 0 auto;
    margin-top : 5vh;
}

.habit-tracker > * {
    padding: 1rem;
    border: 1rem double lighten(black,10%);
}

.habits {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.habit-list {
    overflow: scroll;
    max-height: 50vh;
}

header.top {
    text-align: center;
}

.stack-wrap {
    height: 90vh;
}

.tracker-wrapper {
    height: 90vh;
}