.habit-form-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    min-height: 10vh;
    input {
        align-self: flex-start;
    }
    textarea {
        resize: none;
        margin: 2px;
        width: 15vw;
    }
    button {
        margin: 10px;
    }
}

