@import "../mixins";
@import "../variables";
$border: 1px solid white;

.habit-wrapper {
  // @include box($boxStyle1...);
  padding: 10px 20px;
  border-radius: 1em/5em;
  margin-right: 20px;
  margin-bottom: 10px;
  align-items: center;
  border-top: 1px solid #999;
  justify-content: center;
  box-shadow: $boxShadow1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  button {
    margin: 2px;
  }
}

.habit-name {
  margin: 0;
  border-bottom: $border;
  padding: 2px;
  box-shadow: 0 5px 6px -6px black;
}

.habit-desc {
  color: $primaryColor1;
}

.habit-done {
  padding: 10px;
  border: none;
}
