.week-prog-wrap {
    display: grid;
    align-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1f;
    width: 30vw;
    height: 10vh;
}

.day-wrap {
    display: flex;
    flex-direction: column;
    min-height: 10vhpx;
    span {
        display: block;
        text-align: center;
        height: 10vh;
    }
}

.week-prog-wrap > * {
    border: 2px solid black;
}

.day-track {
    background-color: red;
}

.day-track-some {
    background-color: yellow;
}

.day-track-all {
    background-color: green;
}